<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/static/css/auth.css">
<body>
    <%- include('../partials/nav') %>
    <h2 class="mt-5"><% title %></h2>
   
    <form method="post">
      <div class="container">
        <div>
          <label for="suggestedMessage">Mesaj</label><br>
          <input type="text" id="suggestedMessage" name="suggestedMessage" required>
        </div><br>
        <div class="d-flex justify-content-between">
            <button type="submit">Ekle</button>
        </div>
      </div>
    </form>

    <%- include('../partials/script') %>
</body>
</html>