#messages { list-style-type: none; margin: 0; padding: 0; overflow-y: scroll; max-height: 200px;}
#messages > li { padding: .2rem 1rem; border-radius: 10px; display: flex;}
#messages > li > p{ padding: 0.5rem 1rem; border-radius: 10px; margin: 0 !important; width: 30%;}