<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

<body>
    <%- include('../../partials/nav') %>
    <div class="container mt-5">
        <div class="delete bg-light p-3 d-flex align-items-center justify-content-between">
          <p>
            <% suggestions.forEach(suggestion => { %>
              <b>"<%= suggestion.message %>"</b> İsimli önerilen mesajı silmek istiyor musun?
            <% }) %>
          </p>
          <form method="post">
              <input type="hidden" name="userid">
              <button type="submit" class="btn text-danger">Sil</button>
              <a href="/settings">Vazgeç</a>
          </form>
        </div>
      </div>
    <%- include('../../partials/script') %>
</body>
</html>
